*{
    margin: 0;
    padding: 0;
}

h1{
    color:#03a9f4;
}

article li{
  color:#767686;   
}

article li strong{
    color:#6b6b6b;   
}

aside{
    float: left;
    width: 30%;
    clear: both;
}
aside li stron{
    margin-left: 100px;
}
section{
    float: left;
    width: 70%;
}

#formacion{
 float: left;
 width: 50%;
}

#experiencia{
float: left;
width: 50%;
}

article li.actual{
    font-weight: bolder;
    font-size: 1.2em;
}

nav ul{
    padding: 0;

}

nav ul li{
    display: inline;
}

nav ul li a{
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2196f3;
    color: white;
}

nav ul li a:hover{
    background-color: #1a72b9;
    margin-top: -2px;
    padding-bottom: 12px;
}

footer{
    clear: both;
}

@media (min-width: 601px) and (max-width: 1000px){
    body{
        font-family: Arial, sans-serif;
    }
    aside{
        float: left;
        width: 40%;
        clear: both;
       

    }
    section{
        float: left;
        width: 60%;
        box-sizing: border-box;
        text-decoration: none;

    }
    section li{
        list-style: none;
    }

    #formacion {
        width: 100%;
    }

    #experiencia{
        width: 100%;
    }
}


@media (min-width: 320px) and (max-width: 600px){
    
    body{
        
        font-size: 10px;
    }

    aside{
        width: 100%;
        margin: 15px;
    }
    article{
        width: 100%;
        margin: 15px;
    }
    li{
        list-style: none;
    }

}